In [35]:
empty_list=[]
list_str=['camry','accord','civic','corolla']
list_int=[1,2,3,4,5]
list_float=[1.2,2.3,3.4]
print(list_str)
print(list_str[0])
print(list_str[-1])
list_str.append('elantra')
print(list_str[-1])
list_str.insert(2, 'sentra')
print(list_str)
list_str.extend(['optima','soul'])
print(list_str)
print(list_str.index("elantra"))
list_str.remove('camry')
print(list_str)

['camry', 'accord', 'civic', 'corolla']
camry
corolla
elantra
['camry', 'accord', 'sentra', 'civic', 'corolla', 'elantra']
['camry', 'accord', 'sentra', 'civic', 'corolla', 'elantra', 'optima', 'soul']
5
['accord', 'sentra', 'civic', 'corolla', 'elantra', 'optima', 'soul']

In [12]:
list2=['focus','fiesta','prius','cooper','clubman','beetle','jetta','golf']
cars_list = list_str + list2
print(cars_list)
list2.index
cars_list.reverse()
print (cars_list)
list2.pop()
print (list2)
cars_list.count('civic')
list2.clear()
list2.extend(['accord','accord','civic'])
print(set(list2))
cars_list.sort()
print(cars_list)

['accord', 'sentra', 'civic', 'corolla', 'elantra', 'optima', 'soul', 'focus', 'fiesta', 'prius', 'cooper', 'clubman', 'beetle', 'jetta', 'golf']
['golf', 'jetta', 'beetle', 'clubman', 'cooper', 'prius', 'fiesta', 'focus', 'soul', 'optima', 'elantra', 'corolla', 'civic', 'sentra', 'accord']
['focus', 'fiesta', 'prius', 'cooper', 'clubman', 'beetle', 'jetta']
{'accord', 'civic'}
['accord', 'beetle', 'civic', 'clubman', 'cooper', 'corolla', 'elantra', 'fiesta', 'focus', 'golf', 'jetta', 'optima', 'prius', 'sentra', 'soul']

In [13]:
import copy
list_copy = copy.deepcopy(cars_list)
print(list_copy)
cars_list.append("cavelier")
print(list_copy)

['accord', 'beetle', 'civic', 'clubman', 'cooper', 'corolla', 'elantra', 'fiesta', 'focus', 'golf', 'jetta', 'optima', 'prius', 'sentra', 'soul']
['accord', 'beetle', 'civic', 'clubman', 'cooper', 'corolla', 'elantra', 'fiesta', 'focus', 'golf', 'jetta', 'optima', 'prius', 'sentra', 'soul']

In [14]:
print(list_copy)
cars2 = list_copy
list_copy.pop()
print(cars2)

['accord', 'beetle', 'civic', 'clubman', 'cooper', 'corolla', 'elantra', 'fiesta', 'focus', 'golf', 'jetta', 'optima', 'prius', 'sentra', 'soul']
['accord', 'beetle', 'civic', 'clubman', 'cooper', 'corolla', 'elantra', 'fiesta', 'focus', 'golf', 'jetta', 'optima', 'prius', 'sentra']

In [15]:
del cars2
cars3 = copy.copy(list_copy)
list_copy.append("sentra")
print(list_copy)
print(cars3)

['accord', 'beetle', 'civic', 'clubman', 'cooper', 'corolla', 'elantra', 'fiesta', 'focus', 'golf', 'jetta', 'optima', 'prius', 'sentra', 'sentra']
['accord', 'beetle', 'civic', 'clubman', 'cooper', 'corolla', 'elantra', 'fiesta', 'focus', 'golf', 'jetta', 'optima', 'prius', 'sentra']

In [16]:
list_num=[10, 20, 50, 70, 60, 15]
print(list_num)
print(max(list_num))
list_num2=sorted(list_num)
print(list_num2)
print(sum(list_num2))
print(all([0]))
print(all([1,0]))
print(all([1]))
print(any([1,0]))

[10, 20, 50, 70, 60, 15]
70
[10, 15, 20, 50, 60, 70]
225
False
False
True
True

In [23]:
#list slicing
#beginning indexes are inclusive and end indexes are exclusive
print(len(cars3))
print(cars3[5])
print(cars3[0:4])
print(cars3[:3])
print(cars3[3:])
print(cars3[-4:-2])
#adding step size of 2 with :2 at the end
print(cars3[:8:2])
#to step through whole list requires the extra : but no beginning or end delineated
print(cars3[::3])
print(cars3[::-1])
cars3[]

14
corolla
['accord', 'beetle', 'civic', 'clubman']
['accord', 'beetle', 'civic']
['clubman', 'cooper', 'corolla', 'elantra', 'fiesta', 'focus', 'golf', 'jetta', 'optima', 'prius', 'sentra']
['jetta', 'optima']
['accord', 'civic', 'cooper', 'elantra']
['accord', 'clubman', 'elantra', 'golf', 'prius']
['sentra', 'prius', 'optima', 'jetta', 'golf', 'focus', 'fiesta', 'elantra', 'corolla', 'cooper', 'clubman', 'civic', 'beetle', 'accord']

In [57]:
#String slicing
X = 'World'
print(X[0])
print(X[-2])
a, b, c, d, e = X
print(a, b, c, d, e)
a, b, _, _, _, = X
print(_)
place = input('Where are you from?: ')
length = len(place)
length //= 2
print(place[:length])
print(place.startswith('n'))
print(place.endswith('town'))
print(place.count('l'))
print(place.upper())
print(place.lower())
pos = place.find('town')
print(place[pos:])
filename = 'sherlock.s01e02.1080'
Split = filename.split('.')
print(Split)
join_char=' '
print(join_char.join(Split))
print("*".join(Split))

W
l
W o r l d
d
Where are you from?: marshalltown
marsha
False
True
2
MARSHALLTOWN
marshalltown
town
['sherlock', 's01e02', '1080']
sherlock s01e02 1080
sherlock*s01e02*1080

In [81]:
#tuples
tuple1 = ()
print(type(tuple1))
tuple1 = (1, 2, 3)
tuple2 = (3, 4, 5)
tuple3 = (tuple1 + tuple2)
print(tuple3)
tuple4 = 5, 6, 'g'
print(type(tuple4))
tuple5 = tuple1, tuple2, tuple4
print(tuple5)
var1, var2, var3 = tuple4
print(var3)
print(tuple5[2][2])
print('g' in tuple4)
print(sum(tuple1))
print(list(tuple5))
print(set(tuple3))
#you can't insert or remove values from tuples
#you can edit lists if they're in a tuple though
tuple7 = (1,2,3,4,5,6)
tuple8 = ('a','b','c','d','e','f')
zipped=zip(tuple7, tuple8)
print(zipped)
coor = tuple(zipped)
print(coor)
tuple9, tuple10 = zip(*coor)
print(tuple9, tuple10)

<class 'tuple'>
(1, 2, 3, 3, 4, 5)
<class 'tuple'>
((1, 2, 3), (3, 4, 5), (5, 6, 'g'))
g
g
True
6
[(1, 2, 3), (3, 4, 5), (5, 6, 'g')]
{1, 2, 3, 4, 5}
<zip object at 0x0000024333AA6F40>
((1, 'a'), (2, 'b'), (3, 'c'), (4, 'd'), (5, 'e'), (6, 'f'))
(1, 2, 3, 4, 5, 6) ('a', 'b', 'c', 'd', 'e', 'f')

In [129]:
#dictionaries
diction = {"a":25, "b":50, "c":20}
type(diction)
numb = (1,2,3)
tub1 = ["mom", "dad", "spouse"]
print(tub1)
tub2 = ['Pat', 'Tom', 'Em']
print(tub2)
fam=zip(tub1, tub2)
diction2 = dict(fam)
print(diction2)
print(diction2['mom'])
print(diction2.keys())
"dad" in diction2.keys()
print(diction2.values())
print(diction2.get('spouse'))
print(sorted(diction2))
print(sorted(diction2, reverse=True))
print(sorted(diction2.values()))
print(diction2.items())
spouse = diction2.pop("spouse")
print(diction2)
print(spouse)
diction2.popitem()
print(diction2)
diction3 ={'spouse':'Em','dad':'Tom'}
diction4 = diction2 + diction3

['mom', 'dad', 'spouse']
['Pat', 'Tom', 'Em']
{'mom': 'Pat', 'dad': 'Tom', 'spouse': 'Em'}
Pat
dict_keys(['mom', 'dad', 'spouse'])
dict_values(['Pat', 'Tom', 'Em'])
Em
['dad', 'mom', 'spouse']
['spouse', 'mom', 'dad']
['Em', 'Pat', 'Tom']
dict_items([('mom', 'Pat'), ('dad', 'Tom'), ('spouse', 'Em')])
{'mom': 'Pat', 'dad': 'Tom'}
Em
{'mom': 'Pat'}

TypeError: unsupported operand type(s) for +: 'dict' and 'dict'

In [103]:
#sets order doesn't matter
numbers = {1,5,2,7,6}
print(numbers)
type(numbers)

{1, 2, 5, 6, 7}

set