In [1]:
greet='hello'
list1=list(greet)
for letter in list1:
    print(letter)

h
e
l
l
o

In [5]:
for char in 'hello world':
    print(char)

h
e
l
l
o

w
o
r
l
d

In [69]:
for country in 'germany','Sweden','luxembourg','austria','netherlands','finland':
    print(country)

germany
Sweden
luxembourg
austria
netherlands
finland

In [68]:
cars=(('nissan',['sentra', 'optima']), ('toyota','prius'), ('volkswagen',['jetta', 'beetle', 'golf']), ('ford',['focus', 'fiesta']), ('hyundai','elantra'), ('toyota','corolla'), ('mini',['cooper', 'clubman']), ('honda',['civic', 'accord']))
for i, (make, models) in enumerate(cars):
    print("Make "+ str(i+1) +", "+ make +", includes models: "+ str(models))

Make 1, nissan, includes models: ['sentra', 'optima']
Make 2, toyota, includes models: prius
Make 3, volkswagen, includes models: ['jetta', 'beetle', 'golf']
Make 4, ford, includes models: ['focus', 'fiesta']
Make 5, hyundai, includes models: elantra
Make 6, toyota, includes models: corolla
Make 7, mini, includes models: ['cooper', 'clubman']
Make 8, honda, includes models: ['civic', 'accord']

In [37]:
values=tuple(range(5))
print(values)
values=tuple(range(5,8))
print(values)
for i in range (6,15,2):
    print (i)
ran = range(0,10,2)
for i in reversed(ran):
    print (i)

(0, 1, 2, 3, 4)
(5, 6, 7)
6
8
10
12
14
8
6
4
2
0

In [66]:
#Loops practice 1
string1=input("Type a list of numbers seperated by commas.")
list1=string1.split(',')
print (list1)
list2=list()
for i in range(len(list1)):
    list2.append(int(list1[i])**3)
print("the cubes are", list2)

Type a list of numbers seperated by commas.2,4,6
['2', '4', '6']
cubes are [8, 64, 216]

In [ ]:
#Loops practice 2
list1=[['elantra', 'sonata',],['prius', 'corolla']]
list2=list()
list3=list()
for i, element in range(len(list1)):
    if list in 
print("the cubes are", list2)